<div class="banner">
  <div class="container">
    <h1 style="font-family: Krona One;">PlanetWork</h1>
    <p>Lassés des vacances à Saint Malo ? Visitez plutot une nouvelle planète !</p>
  </div>
</div>
