<div class="banner">
    <div class="d-flex justify-content-center">
  <h1 id="title-profile">Create your Reservation</h1>
</div>

<div class="d-flex flex-column bd-highlight mb-3">
<%= simple_form_for([ @planet, @reservation ])do |f| %>
  <%= f.error_notification %>
  <%= f.input :date%>
  <div class="d-flex justify-content-center">
  <%= f.button :submit, class: "btn-dark" %>
  </div>
<% end %>
</div>
</div>

<h2>Fuyez le Corona-Virus une bonne fois pour toute !</h2>



