


<%if @reservations.count < 1 %>
<div class ="d-flex justify-content-center mt-5">
<p>Vous n avez aucunes reservations</p>
</div>
<%= link_to "Retour a a la page d acceuil", root_path %>

<%else%>

<h1> <%@reservations.each do |reservation| %></h1>


<%= reservation%>

<%end%>

<%end%>
