<%if @reservations.count < 1 %>
  <div class ="d-flex justify-content-center mt-5">
    <p>Vous n avez aucunes reservations</p>
  </div>
  <%= link_to "Retour à la page d acceuil", root_path %>

<%else%>

  <%current_user.reservations.each do |reservation| %>
    <li>
       <strong><%= reservation.planet.name %></strong> est réservée pour le <%= reservation.date %>
    </li>
   <% end %>

<%end%>

