<%if @reservations.count < 1 %>
  <div class ="d-flex justify-content-center mt-5">
    <p>Vous n avez aucunes reservations</p>
  </div>
  <%= link_to "Retour à la page d acceuil", root_path %>

<%else%>

  <h1> <%current_user.reservations.each do |reservation| %></h1>
    <ul>
      <li>
        <%= reservation.date %> <%= reservation.planet.name %>
      </li>
    </ul>
   <% end %>

<%end%>
