.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background-color: black;
  box-shadow: white;
  .dropdown-item{
    color: white;
  }
}

.dropdown-item:hover{
  color: black;
}

