.planet-card {
  margin-top: 4em;
}

.planet-card > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 4em;
  border-style: solid;
  border-color:rgba($color: white, $alpha: 0.5);
}

.planet-card-info {
  display: flex;
  justify-content: space-between;
  background-color: rgba($color: white, $alpha: 0.3);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 4em;
}

.planet-card-info h1 {
  font-family: Krona One;
}

.owner-info {
  text-align: right;
}
