body {
  background-color: rgb(21, 18, 31);
  background-size: cover;
  font-family: Karla;
  color: white;
}

#profile h1 {
  color: white;
  text-align: center;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 10px;
}
#title-profile{
  color: white;
  padding: 10px;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;
}

#profile-h2 {
  color: white;
  padding: 10px;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;
  margin: -15px;
  margin-bottom: 15px;
}

#profile p {
  font-size: 20px;
  color: white;
  padding: 10px;
}

#profile a {
  font-size: 20px;
  color: white;
  background-color: #132029;
  padding: 0 10px;
  border-radius: 6px;
}


#profile {
  width: 250px;
  position: relative;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;

}

.cards-profile {
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;
}

.cards-profile .card-trip {
  overflow: hidden;
  background: #eeeeee;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 325px;
  border-radius: 5px;
  margin: 15px;
}
