body {
  background-image: url(asset-path("image_du_ciel.jpeg"));
  background-size: cover;
}

#profile h1 {
  color: white;
  text-align: center;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 10px;
}
#title-profile{
  color: white;
  padding: 10px;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;
}

#profile-h2 {
  color: white;
  padding: 10px;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;
  margin: -15px;
  margin-bottom: 15px;
}

#profile p {
  font-size: 20px;
  color: white;
  padding: 10px;
}

#profile a {
  font-size: 20px;
  color: white;
  background-color: #132029;
  padding: 0 10px;
  border-radius: 6px;
}


#profile {
  width: 250px;
  position: relative;
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;

}

.cards-profile{
  background-color: rgba(55, 80, 120, 0.8);
  border-radius: 8px;

}

